examples/uni/relaxng.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--+
    | UniZH XHTML doctype
    +--><grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:unizh="http://unizh.ch/doctypes/elements/1.0" xmlns:lenya="http://apache.org/cocoon/lenya/page-envelope/1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:xhtml="http://www.w3.org/1999/xhtml" ns="http://www.w3.org/1999/xhtml" xmlns:rng="http://relaxng.org/ns/structure/1.0"><start __bxe_includeChild="true">
    <ref name="homepage"/>
  </start><define name="html.attlist" __bxe_includeChild="true">
    <ref name="XHTML.version.attrib"/>
    <ref name="I18n.attrib"/>
    <ref name="unizh.columns.attrib"/>
    <ref name="dummy.attlist"/>
  </define><!-- Dublin Core Schema --><define name="dublincore">
  <interleave>
    
  <optional><element name="dc:title"><text/></element></optional>
  <optional><element name="dc:creator"><text/></element></optional>
  <optional><element name="dc:subject"><text/></element></optional>
  <optional><element name="dc:description"><text/></element></optional>
  <optional><element name="dc:publisher"><text/></element></optional>
  <optional><element name="dc:contributor"><text/></element></optional>
  <optional><element name="dc:date"><text/></element></optional>
  <optional><element name="dc:type"><text/></element></optional>
  <optional><element name="dc:format"><text/></element></optional>
  <optional><element name="dc:identifier"><text/></element></optional>
  <optional><element name="dc:source"><text/></element></optional>
  <optional><element name="dc:language"><text/></element></optional>
  <optional><element name="dc:relation"><text/></element></optional>
  <optional><element name="dc:coverage"><text/></element></optional>
  <optional><element name="dc:rights"><text/></element></optional>
  
  <optional><element name="dcterms:audience"><text/></element></optional>
  <optional><element name="dcterms:alternative"><text/></element></optional>
  <optional><element name="dcterms:tableOfContents"><text/></element></optional>
  <optional><element name="dcterms:abstract"><text/></element></optional>
  <optional><element name="dcterms:created"><text/></element></optional>
  <optional><element name="dcterms:valid"><text/></element></optional>
  <optional><element name="dcterms:available"><text/></element></optional>
  <optional><element name="dcterms:issued"><text/></element></optional>
  <optional><element name="dcterms:modified"><text/></element></optional>
  <optional><element name="dcterms:extent"><text/></element></optional>
  <optional><element name="dcterms:medium"><text/></element></optional>
  <optional><element name="dcterms:isVersionOf"><text/></element></optional>
  <optional><element name="dcterms:hasVersion"><text/></element></optional>
  <optional><element name="dcterms:isReplacedBy"><text/></element></optional>
  <optional><element name="dcterms:replaces"><text/></element></optional>
  <optional><element name="dcterms:isRequiredBy"><text/></element></optional>
  <optional><element name="dcterms:requires"><text/></element></optional>
  <optional><element name="dcterms:isPartOf"><text/></element></optional>
  <optional><element name="dcterms:hasPart"><text/></element></optional>
  <optional><element name="dcterms:isReferencedBy"><text/></element></optional>
  <optional><element name="dcterms:references"><text/></element></optional>
  <optional><element name="dcterms:isFormatOf"><text/></element></optional>
  <optional><element name="dcterms:hasFormat"><text/></element></optional>
  <optional><element name="dcterms:conformsTo"><text/></element></optional>
  <optional><element name="dcterms:spatial"><text/></element></optional>
  <optional><element name="dcterms:temporal"><text/></element></optional>
  <optional><element name="dcterms:mediator"><text/></element></optional>
  <optional><element name="dcterms:dateAccepted"><text/></element></optional>
  <optional><element name="dcterms:dateCopyrighted"><text/></element></optional>
  <optional><element name="dcterms:dateSubmitted"><text/></element></optional>
  <optional><element name="dcterms:educationLevel"><text/></element></optional>
  <optional><element name="dcterms:accessRights"><text/></element></optional>
  <optional><element name="dcterms:bibliographicCitation"><text/></element></optional>
  
  </interleave>
</define><define name="lenya.meta">
  <element name="lenya:meta">
    <ref name="dublincore"/>
  </element>
</define><define name="lenya.asset">
  <element name="lenya:asset">
    <attribute name="src"><ref name="Text.datatype"/></attribute>
    <attribute name="type"><ref name="Text.datatype"/></attribute>
    <text/>
  </element>
</define><!-- namespace dummy attributes --><define name="dummy.attlist">
  <attribute name="dc:dummy"><ref name="Text.datatype"/></attribute>
  <attribute name="dcterms:dummy"><ref name="Text.datatype"/></attribute>
  <attribute name="lenya:dummy"><ref name="Text.datatype"/></attribute>
  <attribute name="xhtml:dummy"><ref name="Text.datatype"/></attribute>
</define><define name="unizh.columns.attrib">
  <attribute name="unizh:columns">
    <ref name="Number.datatype"/>
  </attribute>
</define><define name="unizh.highlights">
  <optional>
    <element name="unizh:highlights">
      <zeroOrMore>
        <ref name="unizh.highlight"/>
      </zeroOrMore>
      <!-- XHTML block content -->
      <optional>
        <ref name="Block.model"/>
      </optional>
    </element>
  </optional>
</define><define name="unizh.highlight">
  <element name="unizh:highlight">
    <optional>
      <element name="unizh:highlight-title"><text/></element>
    </optional>
    
    <!-- XHTML block content -->
    <ref name="Block.model"/>
  </element>
</define><define name="unizh.parent">
  <element name="unizh:parent"><empty/></element>
</define><define name="unizh.toc">
  <element name="unizh:toc"><empty/></element>
</define><define name="unizh.children">
  <element name="unizh:children">
    <attribute name="abstracts">
      <data type="boolean" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
    </attribute>
  </element>
</define><define name="unizh.identity">
  <element name="unizh:identity">
    <attribute name="data">
      <ref name="Text.datatype"/>
    </attribute>
  </element>
</define><define name="unizh.slogan">
  <element name="unizh:slogan"><text/></element>
</define><define name="unizh.logo">
  <element name="unizh:logo">
    <attribute name="data">
      <ref name="Text.datatype"/>
    </attribute>
  </element>
</define><define name="unizh.attention">
  <element name="unizh:attention">
    <ref name="Inline.model"/>
  </element>
</define><define name="unizh.important">
  <element name="unizh:important">
    <ref name="Inline.model"/>
  </element>
</define><!-- include original XHTML transitional schema --><define name="html" __bxe_includeChild="true">
    <element name="html">
      <ref name="html.attlist"/>
      <ref name="lenya.meta"/>
      <ref name="unizh.highlights"/>
    
      <!-- head element not allowed -->
      <!-- <ref name="head"/> -->
    
      <ref name="body"/>
    </element>
  </define><define name="html.attlist" __bxe_includeChild="true">
    <ref name="XHTML.version.attrib"/>
    <ref name="I18n.attrib"/>
    <ref name="unizh.columns.attrib"/>
    <ref name="dummy.attlist"/>
  </define><define name="ol.attlist" __bxe_includeChild="true">
    <ref name="ol.Common.attrib"/>
  </define><define name="ul.attlist" __bxe_includeChild="true">
    <ref name="ul.Common.attrib"/>
  </define><define name="object.attlist" __bxe_includeChild="true">
    
      <attribute name="href" type="optional">
        <ref name="URI.datatype"/>
      </attribute>
    
  <ref name="Common.attrib"/>
  
    <attribute name="declare" type="optional">
      <value>declare</value>
    </attribute>
  
  
    <attribute name="classid" type="optional">
      <ref name="URI.datatype"/>
    </attribute>
  
  
    <attribute name="codebase" type="optional">
      <ref name="URI.datatype"/>
    </attribute>
  
  
    <attribute name="data" type="optional">
      <ref name="URI.datatype"/>
    </attribute>
  
  
    <attribute name="type" type="optional">
      <ref name="ContentType.datatype"/>
    </attribute>
  
  
    <attribute name="codetype" type="optional">
      <ref name="ContentType.datatype"/>
    </attribute>
  
  
    <attribute name="archive" type="optional">
      <ref name="URIs.datatype"/>
    </attribute>
  
  
    <attribute name="standby" type="optional">
      <ref name="Text.datatype"/>
    </attribute>
  
  
    <attribute name="height" type="optional">
      <ref name="Length.datatype"/>
    </attribute>
  
  
    <attribute name="width" type="optional">
      <ref name="Length.datatype"/>
    </attribute>
  
  
    <attribute name="name" type="optional"/>
  
  
    <attribute name="tabindex" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  
  </define><define name="table.attlist" __bxe_includeChild="true">
    <ref name="table.Common.attrib"/>
    
      <attribute name="summary" type="optional">
        <ref name="Text.datatype"/>
      </attribute>
    
  </define><!-- Length defined for cellpadding/cellspacing --><!-- nn for pixels or nn% for percentage length --><define name="Length.datatype">
  <text/>
</define><!-- space-separated list of link types --><define name="LinkTypes.datatype">
  <ref name="NMTOKENS.datatype"/>
</define><!-- single or comma-separated list of media descriptors --><define name="MediaDesc.datatype">
  <text/>
</define><!-- pixel, percentage, or relative --><define name="MultiLength.datatype">
  <text/>
</define><!-- one or more digits (NUMBER) --><define name="Number.datatype">
  <text/>
</define><!-- integer representing length in pixels --><define name="Pixels.datatype">
  <text/>
</define><!-- script expression --><define name="Script.datatype">
  <text/>
</define><!-- textual content --><define name="Text.datatype">
  <text/>
</define><!-- Imported Datatypes ................................ --><!-- a single character from [ISO10646] --><define name="Character.datatype">
  <text/>
</define><!-- a character encoding, as per [RFC2045] --><define name="Charset.datatype">
  <text/>
</define><!-- a space separated list of character encodings, as per [RFC2045] --><define name="Charsets.datatype">
  <text/>
</define><!-- media type, as per [RFC2045] --><define name="ContentType.datatype">
  <text/>
</define><!-- comma-separated list of media types, as per [RFC2045] --><define name="ContentTypes.datatype">
  <text/>
</define><!-- date and time information. ISO date format --><define name="Datetime.datatype">
  <text/>
</define><!-- formal public identifier, as per [ISO8879] --><define name="FPI.datatype">
  <text/>
</define><!-- a language code, as per [RFC1766] --><define name="LanguageCode.datatype">
  <data type="language"/>
</define><!-- a Uniform Resource Identifier, see [URI] --><define name="URI.datatype">
  <data type="anyURI"/>
</define><!-- a space-separated list of Uniform Resource Identifiers, see [URI] --><define name="URIs.datatype">
  <text/>
</define><define name="NMTOKEN.datatype">
  <data type="NMTOKEN"/>
</define><define name="NMTOKENS.datatype">
  <data type="NMTOKENS"/>
</define><define name="ID.datatype">
  <data type="ID"/>
</define><define name="IDREF.datatype">
  <data type="IDREF"/>
</define><define name="IDREFS.datatype">
  <data type="IDREFS"/>
</define><define name="id.attrib">
  
    <attribute name="id" type="optional">
      <ref name="ID.datatype"/>
    </attribute>
  
</define><define name="class.attrib">
  
    <attribute name="class" type="optional">
      <ref name="NMTOKENS.datatype"/>
    </attribute>
  
</define><define name="title.attrib">
  
    <attribute name="title" type="optional">
      <ref name="Text.datatype"/>
    </attribute>
  
</define><define name="Core.attrib">
  <ref name="id.attrib"/>
  <ref name="class.attrib"/>
  <ref name="title.attrib"/>

  
    <attribute name="style" type="optional"/>
  
</define><define name="lang.attrib">
  
    <attribute name="xml:lang" type="optional">
      <ref name="LanguageCode.datatype"/>
    </attribute>
  
</define><define name="I18n.attrib">
  <ref name="lang.attrib"/>
</define><define name="Common.attrib">
  <ref name="Core.attrib"/>
  <ref name="I18n.attrib"/>
</define><define name="CommonIdRequired.attrib">
  <attribute name="id">
    <ref name="ID.datatype"/>
  </attribute>
  <ref name="class.attrib"/>
  <ref name="title.attrib"/>
  <ref name="I18n.attrib"/>
</define><define name="title">
  <element name="title">
    <ref name="title.attlist"/>
    <text/>
  </element>
</define><define name="title.attlist">
  <ref name="I18n.attrib"/>
</define><define name="head">
  <element name="head">
    <ref name="head.attlist"/>
    <ref name="head.content"/>
  </element>
</define><define name="head.attlist">
  <ref name="I18n.attrib"/>
  <ref name="profile.attlist"/>
</define><define name="head.content">
  <ref name="title"/>
</define><define name="profile.attlist">
  
    <attribute name="profile" type="optional">
      <ref name="URI.datatype"/>
    </attribute>     
  
</define><define name="body">
  <element name="body">
    <ref name="body.attlist"/>
    <ref name="Block.model"/>
  </element>
</define><define name="body.attlist">
  <ref name="Common.attrib"/>
</define><define name="XHTML.version.attrib">
  
    <attribute name="version" type="optional">
      <ref name="FPI.datatype"/>
    </attribute>
  
</define><define name="br">
  <element name="br">
    <ref name="br.attlist"/>
    <empty/>
  </element>
</define><define name="br.attlist">
  <ref name="Core.attrib"/>
</define><define name="span">
  <element name="span">
    <ref name="span.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="span.attlist">
  <ref name="Common.attrib"/>
</define><define name="abbr">
  <element name="abbr">
    <ref name="abbr.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="abbr.attlist">
  <ref name="Common.attrib"/>
</define><define name="acronym">
  <element name="acronym">
    <ref name="acronym.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="acronym.attlist">
  <ref name="Common.attrib"/>
</define><define name="cite">
  <element name="cite">
    <ref name="cite.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="cite.attlist">
  <ref name="Common.attrib"/>
</define><define name="code">
  <element name="code">
    <ref name="code.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="code.attlist">
  <ref name="Common.attrib"/>
</define><define name="dfn">
  <element name="dfn">
    <ref name="dfn.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="dfn.attlist">
  <ref name="Common.attrib"/>
</define><define name="em">
  <element name="em">
    <ref name="em.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="em.attlist">
  <ref name="Common.attrib"/>
</define><define name="kbd">
  <element name="kbd">
    <ref name="kbd.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="kbd.attlist">
  <ref name="Common.attrib"/>
</define><define name="q">
  <element name="q">
    <ref name="q.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="q.attlist">
  <ref name="Common.attrib"/>
  
    <attribute name="cite" type="optional">
      <ref name="URI.datatype"/>
    </attribute>
  
</define><define name="samp">
  <element name="samp">
    <ref name="samp.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="samp.attlist">
  <ref name="Common.attrib"/>
</define><define name="strong">
  <element name="strong">
    <ref name="strong.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="strong.attlist">
  <ref name="Common.attrib"/>
</define><define name="var">
  <element name="var">
    <ref name="var.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="var.attlist">
  <ref name="Common.attrib"/>
</define><define name="div">
  <element name="div">
    <ref name="div.attlist"/>
    <ref name="Flow.model"/>
  </element>
</define><define name="div.attlist">
  <ref name="Common.attrib"/>
</define><define name="p">
  <element name="p">
    <ref name="p.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="p.attlist">
  <ref name="Common.attrib"/>
</define><define name="address">
  <element name="address">
    <ref name="address.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="address.attlist">
  <ref name="Common.attrib"/>
</define><define name="blockquote">
  <element name="blockquote">
    <ref name="blockquote.attlist"/>
    <ref name="Block.model"/>
  </element>
</define><define name="blockquote.attlist">
  <ref name="Common.attrib"/>
  
    <attribute name="cite" type="optional">
      <ref name="URI.datatype"/>
    </attribute>
  
</define><define name="pre">
  <element name="pre">
    <ref name="pre.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="pre.attlist">
  <ref name="Common.attrib"/>
  
    <attribute name="xml:space" type="optional">
      <value>preserve</value>
    </attribute>
  
</define><define name="h1">
  <element name="h1">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define><define name="h2">
  <element name="h2">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define><define name="h3">
  <element name="h3">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define><define name="h4">
  <element name="h4">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define><define name="h5">
  <element name="h5">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define><define name="h6">
  <element name="h6">
    <ref name="Heading.attrib"/>
    <ref name="Heading.content"/>
  </element>
</define><define name="Heading.attrib">
  <ref name="Common.attrib"/>
</define><define name="Heading.content">
  <ref name="Inline.model"/>
</define><define name="Heading.class">
  <choice>
    <ref name="h1"/>
    <ref name="h2"/>
    <ref name="h3"/>
    <ref name="h4"/>
    <ref name="h5"/>
    <ref name="h6"/>
  </choice>
</define><define name="Inline.model">
  <zeroOrMore>
    <choice>
      <text/>
      <ref name="Inline.class"/>
    </choice>
  </zeroOrMore>
</define><!-- This is redefined by the legacy module to include inlines. --><define name="Block.mix">
  <ref name="Block.class"/>
</define><define name="Block.model">
  <oneOrMore>
    <ref name="Block.mix"/>
  </oneOrMore>
</define><define name="Flow.model">
  <zeroOrMore>
    <choice>
      <text/>
      <ref name="Inline.class"/>
      <ref name="Block.class"/>
    </choice>
  </zeroOrMore>
</define><define name="a">
  <element name="a">
    <ref name="a.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="a.attlist">
  <ref name="Common.attrib"/>
  
    <attribute name="href" type="optional">
      <ref name="URI.datatype"/>
    </attribute>
  
  
    <attribute name="charset" type="optional">
      <ref name="Charset.datatype"/>
    </attribute>
  
  
    <attribute name="type" type="optional">
      <ref name="ContentType.datatype"/>
    </attribute>
  
  
    <attribute name="hreflang" type="optional">
      <ref name="LanguageCode.datatype"/>
    </attribute>
  
  
    <attribute name="rel" type="optional">
      <ref name="LinkTypes.datatype"/>
    </attribute>
  
  
    <attribute name="rev" type="optional">
      <ref name="LinkTypes.datatype"/>
    </attribute>
  
  
    <attribute name="accesskey" type="optional">
      <ref name="Character.datatype"/>
    </attribute>
  
  
    <attribute name="tabindex" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  

  <ref name="target.attrib"/>

  <ref name="name.attlist"/>
</define><define name="dl">
  <element name="dl">
    <ref name="dl.attlist"/>
    <oneOrMore>
      <choice>
	<ref name="dt"/>
	<ref name="dd"/>
      </choice>
    </oneOrMore>
  </element>
</define><define name="dl.attlist">
  <ref name="Common.attrib"/>
</define><define name="dt">
  <element name="dt">
    <ref name="dt.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="dt.attlist">
  <ref name="Common.attrib"/>
</define><define name="dd">
  <element name="dd">
    <ref name="dd.attlist"/>
    <ref name="Flow.model"/>
  </element>
</define><define name="dd.attlist">
  <ref name="Common.attrib"/>
</define><define name="ol">
  <element name="ol">
    <ref name="ol.attlist"/>
    <oneOrMore>
      <ref name="li"/>
    </oneOrMore>
  </element>
</define><define name="ul">
  <element name="ul">
    <ref name="ul.attlist"/>
    <oneOrMore>
      <ref name="li"/>
    </oneOrMore>
  </element>
</define><define name="li">
  <element name="li">
    <ref name="li.attlist"/>
    <ref name="Flow.model"/>
  </element>
</define><define name="li.attlist">
  <ref name="Common.attrib"/>
</define><define name="List.class">
  <choice>
    <ref name="ul"/>
    <ref name="ol"/>
    <ref name="dl"/>
  </choice>
</define><define name="param">
  <element name="param">
    <ref name="param.attlist"/>
  </element>
</define><define name="param.attlist">
  <ref name="id.attrib"/>
  <attribute name="name"/>
  
    <attribute name="value" type="optional"/>
  
  
    <attribute name="valuetype" type="optional">
      <choice>
	<value>data</value>
	<value>ref</value>
	<value>object</value>
      </choice>
    </attribute>
  
  
    <attribute name="type" type="optional">
      <ref name="ContentType.datatype"/>
    </attribute>
  
</define><define name="object">
  <element name="object">
    <ref name="object.attlist"/>
    <!-- No restrictions on mixed content in TREX. -->
    <zeroOrMore>
      <ref name="param"/>
    </zeroOrMore>
    <ref name="Flow.model"/>
  </element>
</define><define name="hr">
  <element name="hr">
    <ref name="hr.attlist"/>
  </element>
</define><define name="hr.attlist">
  <ref name="Common.attrib"/>
</define><define name="b">
  <element name="b">
    <ref name="b.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="b.attlist">
  <ref name="Common.attrib"/>
</define><define name="big">
  <element name="big">
    <ref name="big.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="big.attlist">
  <ref name="Common.attrib"/>
</define><define name="i">
  <element name="i">
    <ref name="i.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="i.attlist">
  <ref name="Common.attrib"/>
</define><define name="small">
  <element name="small">
    <ref name="small.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="small.attlist">
  <ref name="Common.attrib"/>
</define><define name="sub">
  <element name="sub">
    <ref name="sub.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="sub.attlist">
  <ref name="Common.attrib"/>
</define><define name="sup">
  <element name="sup">
    <ref name="sup.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="sup.attlist">
  <ref name="Common.attrib"/>
</define><define name="tt">
  <element name="tt">
    <ref name="tt.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="tt.attlist">
  <ref name="Common.attrib"/>
</define><define name="select" __bxe_includeChild="true">
    <element name="select">
      <ref name="select.attlist"/>
      <oneOrMore>
	<choice>
	  <ref name="option"/>
	  <ref name="optgroup"/>
	</choice>
      </oneOrMore>
    </element>
  </define><define name="form">
  <element name="form">
    <ref name="form.attlist"/>
    <!-- Don't use Block.model, because this gets redefined by the
	 legacy module. -->
    <oneOrMore>
      <ref name="Block.class"/>
    </oneOrMore>
  </element>
</define><define name="label">
  <element name="label">
    <ref name="label.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="label.attlist">
  <ref name="Common.attrib"/>
  
    <attribute name="for" type="optional">
      <ref name="IDREF.datatype"/>
    </attribute>
  
  
    <attribute name="accesskey" type="optional">
      <ref name="Character.datatype"/>
    </attribute>
  
</define><define name="input">
  <element name="input">
    <ref name="input.attlist"/>
  </element>
</define><define name="option">
  <element name="option">
    <ref name="Common.attrib"/>
    
      <attribute name="selected" type="optional">
        <value>selected</value>
      </attribute>
    
    
      <attribute name="value" type="optional"/>
    
    <text/>
  </element>
</define><define name="textarea">
  <element name="textarea">
    <ref name="textarea.attlist"/>
  </element>
</define><define name="form.attlist" combine="interleave">
  
    <attribute name="accept-charset" type="optional">
      <ref name="Charsets.datatype"/>
    </attribute>
  
  
    <attribute name="accept" type="optional">
      <ref name="ContentTypes.datatype"/>
    </attribute>
  

  <ref name="Common.attrib"/>
  <attribute name="action">
    <ref name="URI.datatype"/>
  </attribute>
  
    <attribute name="method" type="optional">
      <choice>
	<value>get</value>
	<value>post</value>
      </choice>
    </attribute>
  
  
    <attribute name="enctype" type="optional">
      <ref name="ContentType.datatype"/>
    </attribute>
  

  <ref name="target.attrib"/>

  <ref name="name.attlist"/>
</define><define name="input.attlist" combine="interleave">
  
    <attribute name="disabled" type="optional">
      <value>disabled</value>
    </attribute>
  
  
    <attribute name="readonly" type="optional">
      <value>readonly</value>
    </attribute>
  
  
    <attribute name="alt" type="optional"/>
  
  
    <attribute name="tabindex" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  
  
    <attribute name="accept" type="optional">
      <ref name="ContentTypes.datatype"/>
    </attribute>
  

  <ref name="Common.attrib"/>
  
    <attribute name="type" type="optional">
      <ref name="InputType.class"/>
    </attribute>
  
  
    <attribute name="name" type="optional"/>
  
  
    <attribute name="value" type="optional"/>
  
  
    <attribute name="checked" type="optional">
      <value>checked</value>
    </attribute>
  
  
    <attribute name="size" type="optional"/>
  
  
    <attribute name="maxlength" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  
  
    <attribute name="src" type="optional">
       <ref name="URI.datatype"/>
    </attribute>
  
  
    <attribute name="accesskey" type="optional">
      <ref name="Character.datatype"/>
    </attribute>
  
</define><define name="InputType.class" combine="choice">
  <choice>
    <value>image</value>
    <value>button</value>
  
    <value>text</value>
    <value>password</value>
    <value>checkbox</value>
    <value>radio</value>
    <value>submit</value>
    <value>reset</value>
    <value>hidden</value>
  </choice>
</define><define name="select.attlist" combine="interleave">
  
    <attribute name="disabled" type="optional">
      <value>disabled</value>
    </attribute>
  
  
    <attribute name="tabindex" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  

  <ref name="Common.attrib"/>
  
    <attribute name="name" type="optional"/>
  
  
    <attribute name="size" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  
  
    <attribute name="multiple" type="optional">
      <value>multiple</value>
    </attribute>
  
</define><define name="option.attlist" combine="interleave">
  
    <attribute name="disabled" type="optional">
      <value>disabled</value>
    </attribute>
  
  
    <attribute name="label" type="optional">
      <ref name="Text.datatype"/>
    </attribute>
  
</define><define name="optgroup">
  <element name="optgroup">
    <ref name="optgroup.attlist"/>
    <oneOrMore>
      <ref name="option"/>
    </oneOrMore>
  </element>
</define><define name="optgroup.attlist">
  <ref name="Common.attrib"/>
  
    <attribute name="disabled" type="optional">
      <value>disabled</value>
    </attribute>
  
  <attribute name="label">
    <ref name="Text.datatype"/>
  </attribute>
</define><define name="textarea.attlist" combine="interleave">
  
    <attribute name="disabled" type="optional">
      <value>disabled</value>
    </attribute>
  
  
    <attribute name="readonly" type="optional">
      <value>readonly</value>
    </attribute>
  
  
    <attribute name="tabindex" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  

  <ref name="Common.attrib"/>
  
    <attribute name="name" type="optional"/>
  
  <attribute name="rows">
    <ref name="Number.datatype"/>
  </attribute>
  <attribute name="cols">
    <ref name="Number.datatype"/>
  </attribute>
  
    <attribute name="accesskey" type="optional">
      <ref name="Character.datatype"/>
    </attribute>
  
  <text/>
</define><define name="fieldset">
  <element name="fieldset">
    <ref name="fieldset.attlist"/>
    <ref name="legend"/>
    <ref name="Flow.model"/>
  </element>
</define><define name="fieldset.attlist">
  <ref name="Common.attrib"/>
</define><define name="button">
  <element name="button">
    <ref name="button.attlist"/>
    <ref name="Flow.model"/>
  </element>
</define><define name="button.attlist">
  <ref name="Common.attrib"/>
  
    <attribute name="name" type="optional"/>
  
  
    <attribute name="value" type="optional"/>
  
  
    <attribute name="type" type="optional">
      <choice>
        <value>button</value>
        <value>submit</value>
        <value>reset</value>
      </choice>
    </attribute>
  
  
    <attribute name="disabled" type="optional">
      <value>disabled</value>
    </attribute>
  
  
    <attribute name="tabindex" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  
  
    <attribute name="accesskey" type="optional">
      <ref name="Character.datatype"/>
    </attribute>
  
</define><define name="legend">
  <element name="legend">
    <ref name="legend.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="legend.attlist">
  <ref name="Common.attrib"/>
  
    <attribute name="accesskey" type="optional">
      <ref name="Character.datatype"/>
    </attribute>
  
</define><define name="Form.class" combine="choice"><choice>
  <ref name="fieldset"/>

  <ref name="form"/>
</choice></define><define name="Formctrl.class" combine="choice"><choice>
  <ref name="button"/>

  <choice>
    <ref name="input"/>
    <ref name="label"/>
    <ref name="select"/>
    <ref name="textarea"/>
  </choice>
</choice></define><define name="table">
  <element name="table">
    <ref name="table.attlist"/>
    <optional>
      <ref name="caption"/>
    </optional>
    <oneOrMore>
      <ref name="tr"/>
    </oneOrMore>
  </element>
</define><define name="caption">
  <element name="caption">
    <ref name="caption.attlist"/>
    <ref name="Inline.model"/>
  </element>
</define><define name="caption.attlist">
  <ref name="Common.attrib"/>
</define><define name="tr">
  <element name="tr">
    <ref name="tr.attlist"/>
    <oneOrMore>
      <choice>
        <ref name="th"/>
        <ref name="td"/>
      </choice>
    </oneOrMore>
  </element>
</define><define name="tr.attlist">
  <ref name="Common.attrib"/>
  <ref name="CellHAlign.attrib"/>
  <ref name="CellVAlign.attrib"/>
</define><define name="th">
  <element name="th">
    <ref name="th.attlist"/>
    <ref name="Flow.model"/>
  </element>
</define><define name="th.attlist">
  <ref name="Cell.attrib"/>
</define><define name="td">
  <element name="td">
    <ref name="td.attlist"/>
    <ref name="Flow.model"/>
  </element>
</define><define name="td.attlist">
  <ref name="Cell.attrib"/>
</define><define name="Cell.attrib">
  <ref name="Common.attrib"/>
  
    <attribute name="abbr" type="optional">
      <ref name="Text.datatype"/>
    </attribute>
  
  
    <attribute name="axis" type="optional"/>
  
  
    <attribute name="headers" type="optional">
      <ref name="IDREFS.datatype"/>
    </attribute>
  
  <ref name="scope.attrib"/>
  
    <attribute name="rowspan" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  
  
    <attribute name="colspan" type="optional">
      <ref name="Number.datatype"/>
    </attribute>
  
  <ref name="CellHAlign.attrib"/>
  <ref name="CellVAlign.attrib"/>
</define><define name="CellHAlign.attrib">
  
    <attribute name="align" type="optional">
      <choice>
	<value>left</value>
	<value>center</value>
	<value>right</value>
      </choice>
    </attribute>
  
</define><define name="CellVAlign.attrib">
  
    <attribute name="valign" type="optional">
      <choice>
	<value>top</value>
	<value>middle</value>
	<value>bottom</value>
      </choice>
    </attribute>
  
</define><define name="scope.attrib">
  
    <attribute name="scope" type="optional">
      <choice>
	<value>row</value>
	<value>col</value>
      </choice>
    </attribute>
  
</define><define name="area.attlist" combine="interleave">
  <ref name="target.attrib"/>
</define><define name="base.attlist" combine="interleave">
  <ref name="target.attrib"/>
</define><define name="link.attrib" combine="interleave">
  <ref name="target.attrib"/>
</define><define name="target.attrib">
  
    <attribute name="target" type="optional"/>
  
</define><define name="applet.attlist" combine="interleave">
  <ref name="name.attlist"/>
</define><define name="frame.attrib" combine="interleave">
  <ref name="name.attlist"/>
</define><define name="iframe.attlist" combine="interleave">
  <ref name="name.attlist"/>
</define><define name="img.attlist" combine="interleave">
  <ref name="name.attlist"/>
</define><define name="map.attlist" combine="interleave">
  <ref name="name.attlist"/>
</define><define name="name.attlist">
  
    <attribute name="name" type="optional"/>
  
</define><!--
<include href="modules/applet.rng"/>
<include href="modules/bdo.rng"/>
<include href="modules/image.rng"/>
<include href="modules/ssismap.rng"/>
<include href="modules/base.rng"/>
<include href="modules/link.rng"/>
<include href="modules/meta.rng"/>
<include href="modules/edit.rng"/>
<include href="modules/basic-form.rng"/>
<include href="modules/style.rng"/>
<include href="modules/script.rng"/>
<include href="modules/table.rng"/>
<include href="modules/csismap.rng"/>
<include href="modules/events.rng"/>
<include href="modules/iframe.rng"/>
--><define name="ol.Core.attrib">
  <ref name="id.attrib"/>
  <ref name="title.attrib"/>
  <attribute name="class">
    <choice>
      <value type="string">type1</value>
      <value type="string">type2</value>
    </choice>
  </attribute>
</define><define name="ol.Common.attrib">
  <ref name="ol.Core.attrib"/>
  <ref name="I18n.attrib"/>
</define><define name="ul.Core.attrib">
  <ref name="id.attrib"/>
  <ref name="title.attrib"/>
  <attribute name="class">
    <choice>
      <value type="string">type1</value>
      <value type="string">type2</value>
      <value type="string">type3</value>
    </choice>
  </attribute>
</define><define name="ul.Common.attrib">
  <ref name="ul.Core.attrib"/>
  <ref name="I18n.attrib"/>
</define><define name="table.Core.attrib">
  <ref name="id.attrib"/>
  <ref name="title.attrib"/>
  <attribute name="class">
    <choice>
      <value type="string">ornate</value>
      <value type="string">basic</value>
    </choice>
  </attribute>
</define><define name="table.Common.attrib">
  <ref name="table.Core.attrib"/>
  <ref name="I18n.attrib"/>
</define><!-- additional block elements --><define name="Block.class" combine="choice">
  <choice>
    <ref name="lenya.asset"/>
    <ref name="unizh.parent"/>
    <ref name="unizh.toc"/>
    <ref name="unizh.children"/>
  
    <ref name="p"/>
    <ref name="Heading.class"/>
    <ref name="pre"/>
    <ref name="address"/>
    <ref name="blockquote"/>
    <ref name="div"/>
  
  <ref name="List.class"/>

  <ref name="hr"/>

  <ref name="Form.class"/>

  <ref name="table"/>
</choice>
</define><!-- additional inline elements --><define name="Inline.class" combine="choice">
  <choice>
    <ref name="unizh.attention"/>
    <ref name="unizh.important"/>
  
    <ref name="em"/>
    <ref name="cite"/>
    <ref name="code"/>
    <ref name="strong"/>
    <ref name="abbr"/>
    <ref name="acronym"/>
    <ref name="br"/>
    <ref name="dfn"/>
    <ref name="kbd"/>
    <ref name="q"/>
    <ref name="samp"/>
    <ref name="span"/>
    <ref name="var"/>
  
  <ref name="a"/>

  <ref name="object"/>

    <ref name="b"/>
    <ref name="big"/>
    <ref name="i"/>
    <ref name="small"/>
    <ref name="sub"/>
    <ref name="sup"/>
    <ref name="tt"/>
  
  <ref name="Formctrl.class"/>
</choice>
</define><define name="homepage">
  <element name="homepage">
    <ref name="html.attlist"/>
    <ref name="lenya.meta"/>
    <interleave>
      <ref name="unizh.identity"/>
      <ref name="unizh.slogan"/>
      <ref name="unizh.logo"/>
      <ref name="unizh.highlights"/>
    </interleave>
    <ref name="body"/>
  </element>
</define></grammar>

