examples/uni/relaxng.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:lenya="http://apache.org/cocoon/lenya/page-envelope/1.0" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:unizh="http://unizh.ch/doctypes/elements/1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://relaxng.org/ns/structure/1.0" ns="http://www.w3.org/1999/xhtml" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="html">
      <attribute name="unizh:columns">
        <data type="integer"/>
      </attribute>
      <element name="lenya:meta">
        <element name="dc:title">
          <text/>

        </element>
        <element name="dc:description">
          <data type="NCName"/>
        </element>
        <element name="dc:creator">
          <text/>
        </element>
        <element name="dc:subject">
          <data type="NCName"/>

        </element>
        <element name="dc:publisher">
          <text/>
        </element>
        <element name="dcterms:created">
          <text/>
        </element>
        <element name="dcterms:issued">
          <text/>

        </element>
        <element name="dc:language">
          <data type="NCName"/>
        </element>
        <element name="dc:rights">
          <text/>
        </element>
      </element>
      <optional>

        <element name="unizh:highlights">
          <oneOrMore>
            <element name="unizh:highlight">
            <optional>
              <element name="unizh:highlight-title">
                <oneOrMore>
                  <choice>
                    <text/>
                    <ref name="a"/>
                  </choice>

                </oneOrMore>
              </element>
              </optional>
              <choice>
                <ref name="object"/>
                <oneOrMore>
                  <ref name="p"/>
                </oneOrMore>
              </choice>
            </element>

          </oneOrMore>
          <ref name="object"/>
        </element>
      </optional>
      <element name="body">
        <optional>
          <element name="unizh:parenttitle">
            <empty/>
          </element>

          <element name="unizh:anchor">
            <empty/>
          </element>
        </optional>
        <oneOrMore>
          <choice>
            <ref name="object"/>
            <ref name="p"/>
            <element name="lenya:asset">

              <attribute name="src">
                <data type="NCName"/>
              </attribute>
              <attribute name="type"/>
              <text/>
            </element>
            <element name="h2">
              <text/>
            </element>

            <element name="table">
              <attribute name="class">
                <choice>
                    <value>ornate</value>
                    <value>simple</value>
                </choice>
              </attribute>
             
              
              <optional>
                <element name="caption">
                  <text/>
                </element>
                <oneOrMore>

                  <element name="col">
                    <optional>
                      <attribute name="align">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                  </element>
                </oneOrMore>
              </optional>

              <oneOrMore>
                <element name="tr">
                  <optional>
                    <attribute name="align">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <oneOrMore>
                    <element name="td">

                    <text/>
                    </element>
                  </oneOrMore>
                </element>
              </oneOrMore>
            </element>
          </choice>
        </oneOrMore>
        <optional>

          <oneOrMore>
            <choice>
              <element name="h3">
                <text/>
              </element>
              <element name="ul">
                <attribute name="class">
                  <data type="NCName"/>
                </attribute>

                <oneOrMore>
                  <ref name="li"/>
                </oneOrMore>
              </element>
              <element name="ol">
            <attribute name="class">
              <data type="NCName"/>

            </attribute>
            <oneOrMore>
              <ref name="li"/>
            </oneOrMore>
          </element>
            </choice>
          </oneOrMore>
          
          <element name="unizh:index">
            <attribute name="abstracts">
              <data type="boolean"/>
            </attribute>

          </element>
        </optional>
      </element>
    </element>
  </start>
  <define name="a">
    <element name="a">
      <attribute name="href">
        <data type="anyURI"/>

      </attribute>
      <text/>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>

          <ref name="a"/>
          <element name="unizh:attention">
            <data type="NCName"/>
          </element>
          <element name="b">
            <data type="NCName"/>
          </element>
          <element name="cite">
            <data type="NCName"/>

          </element>
          <element name="i">
            <data type="NCName"/>
          </element>
          <element name="small">
            <data type="NCName"/>
          </element>
          <element name="sub">
            <data type="NCName"/>

          </element>
          <element name="sup">
            <data type="NCName"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="object">

    <element name="object">
      <attribute name="data">
        <data type="NCName"/>
      </attribute>
      
      <attribute name="height">
        <data type="integer"/>
      </attribute>
      <attribute name="type">
        <choice>
            <value>image/gif</value>
            <value>image/jpeg</value>
            <value>image/png</value>
            </choice>
            </attribute>
      <attribute name="width">

        <data type="integer"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="li">
    <element name="li">
      <text/>
    </element>

  </define>
</grammar>
