examples/uni/relaxng.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:lenya="http://apache.org/cocoon/lenya/document/1.0" xmlns:unizh="http://unizh.ch/2003/" xmlns:dc="http://dc.org/2003/" ns="http://www.w3.org/1999/xhtml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="unizh:content-document">
      <element name="lenya:meta">
        <element name="dc:title">
          <text/>
        </element>
        <element name="dc:description">
          <data type="NCName"/>
        </element>
        <element name="dc:creator">
          <text/>
        </element>
        <element name="dc:subject">
          <data type="NCName"/>
        </element>
        <element name="dc:publisher">
          <text/>
        </element>
        <element name="dc:date">
          <element name="dc:created">
            <text/>
          </element>
          <element name="dc:issued">
            <text/>
          </element>
        </element>
        <element name="dc:language">
          <data type="NCName"/>
        </element>
        <element name="dc:rights">
          <text/>
        </element>
      </element>
      <element name="unizh:highlights">
        <element name="unizh:highlight">
          <element name="unizh:highlight-title">
            <text/>
          </element>
          <oneOrMore>
            <ref name="p"/>
          </oneOrMore>
        </element>
      </element>
      <element name="body">
        <element name="unizh:parenttitle">
          <empty/>
        </element>
        <element name="anchor">
          <empty/>
        </element>
        <oneOrMore>
          <choice>
            <ref name="p"/>
            <element name="lenya:asset">
              <attribute name="mime-type"/>
              <attribute name="src">
                <data type="NCName"/>
              </attribute>
              <element name="lenya:asset-title">
                <text/>
              </element>
            </element>
            <element name="h2">
              <text/>
            </element>
            <element name="lala">
              <attribute name="alt"/>
              <attribute name="src">
                <data type="anyURI"/>
              </attribute>
              <element name="lenya:caption">
                <data type="NCName"/>
              </element>
              <element name="lenya:producer">
                <data type="NCName"/>
              </element>
            </element>
            <element name="table">
              <attribute name="class">
                <data type="NCName"/>
              </attribute>
              <element name="caption">
                <text/>
              </element>
              
              <oneOrMore>
                <element name="tr">
                  <attribute name="align">
                    <data type="NCName"/>
                  </attribute>
                  <oneOrMore>
                    <element name="td">
                      <data type="NCName"/>
                    </element>
                  </oneOrMore>
                </element>
              </oneOrMore>
              <oneOrMore>
                <element name="col">
                  <optional>
                    <attribute name="align">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                </element>
              </oneOrMore>
            </element>
          </choice>
        </oneOrMore>
        <oneOrMore>
          <choice>
            <element name="h3">
              <text/>
            </element>
            <element name="ul">
              <attribute name="class">
                <data type="NCName"/>
              </attribute>
              <oneOrMore>
                <ref name="li"/>
              </oneOrMore>
            </element>
          </choice>
        </oneOrMore>
        <element name="ol">
          <oneOrMore>
            <ref name="li"/>
          </oneOrMore>
        </element>
        <element name="index">
          <attribute name="abstracts">
            <data type="boolean"/>
          </attribute>
        </element>
      </element>
    </element>
  </start>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <element name="a">
            <attribute name="href">
              <data type="anyURI"/>
            </attribute>
            <text/>
          </element>
          <element name="attention">
            <text/>
          </element>
          <element name="b">
            <text/>
          </element>
          <element name="i">
            <data type="NCName"/>
          </element>
          <element name="small">
            <data type="NCName"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="li">
    <element name="li">
      <text/>
    </element>
  </define>
</grammar>
