examples/inline/relaxng.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="iba">
      <element name="tree">
        <oneOrMore>
          <element name="Section">
            <attribute name="ID">
             <text/>
            </attribute>
            <ref name="title"/>
            <ref name="ID"/>
            <element name="uri">
             <text/>
            </element>
            <element name="foreignsectionid">
              <text/>
            </element>
            <oneOrMore>
              <choice>
                <element name="button">
                  <text/>
                </element>
                <element name="fulluri">
                 <text/>
                </element>
              </choice>
            </oneOrMore>
            <element name="level">
              <text/>
            </element>
            <element name="l">
              <text/>
            </element>
            <element name="r">
              <text/>
            </element>
          </element>
        </oneOrMore>
      </element>
      <element name="page">
        <element name="Article">
          <attribute name="ID">
           <text/>
          </attribute>
          <ref name="ID"/>
          <element name="main">
            <element name="section">
              <oneOrMore>
                <element name="para">
                  <oneOrMore>
                    <choice>
                      <text/>
                      <element name="ulink">
                        <attribute name="url"/>
                       <text/>
                      </element>
                      <element name="bold">
                        
                       <text/>
                      </element>
                      <element name="emphasize">
                       <text/>
                      </element>
                    </choice>
                  </oneOrMore>
                </element>
              </oneOrMore>
            </element>
          </element>
          <ref name="title"/>
          <element name="lang">
           <text/>
          </element>
        </element>
      </element>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <oneOrMore>
        <choice>
          <text/>
          <element name="de">
           <text/>
          </element>
          <element name="en">
           <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ID">
    <element name="ID">
      <text/>
    </element>
  </define>
</grammar>
